exportPattern("^[[:alpha:]]+")
importFrom("stats", "median")
importFrom("mice", "mice", "complete")
importFrom("BestTransform", "data_distribution", "model_my_data")
importFrom("pbmcapply", "pbmclapply")
importFrom("e1071", "impute")
importFrom("data.table", "data.table")
